<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Videos</title>
</head>
<body>
    <h1>Upload Videos</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="video">Upload Video:</label>
    <input type="file" id="video" name="video" accept="video/*" required>
    <button type="submit">Upload</button>
    <br>
    <a href="{% url 'search_subtitles' %}">Search Subtitles</a>
</form>
</body>
</html>
